
.timeline-horizontal__wrapper {
  min-height: 150px;
  padding: 20px 50px 20px 40px;
}

.timeline-scale {
  width: 100%;
  position: relative;
}

.timeline-scale__legend {
  width: calc(100% + 10px);
  height: 5px;
  background: #000;
}

.timeline-scale__start-date {
  position: absolute;
  left: 0;
  top: -5px;
  border-left: 1px solid #666;
  padding: 10px 5px 0;
  font-size: 14px;
  line-height: 18px;
}

.timeline-scale__end-date{
  position: absolute;
  right: -10px;
  top: -5px;
  border-right: 1px solid #666;
  padding: 10px 5px 0;
  font-size: 14px;
  line-height: 18px;
}

.event-list {
  width: 100%;
  position: relative;
}

.event-item {
  display: block;
  position: relative;
  width: 10px;
  min-height: 10px;
  padding: 0 2px 0 4px;
  margin-bottom: 21px;
  border-radius: 3px;
  border: 1px solid #666;
  background-color: #e7e7e7;
  line-height: 1;
}

.event-item__data {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event-item__dates {
  position: absolute;
  top: 24px;
  left: 0;
  //left: -34px;
  //width: 80px;
  //text-align: center;
  font-size: 12px;
}

.event-item__title {
  font-size: 13px;
  line-height: 20px;
}

.event-item__description {
  display: none;
}


