
.timeline-horizontal__wrapper {
  min-height: 150px;
  padding: 20px 50px 20px 40px;
}

.timeline-scale {
  width: 100%;
  position: relative;
}

.timeline-scale__legend {
  width: calc(100% + 10px);
  height: 5px;
  background: #000;
}

.timeline-scale__start-date {
  position: absolute;
  left: 0;
  top: -5px;
  border-left: 1px solid #666;
  padding: 10px 5px 0;
  font-size: 14px;
  line-height: 18px;
}

.timeline-scale__end-date{
  position: absolute;
  right: -10px;
  top: -5px;
  border-right: 1px solid #666;
  padding: 10px 5px 0;
  font-size: 14px;
  line-height: 18px;
}

.event-list {
  width: 100%;
  position: relative;
}

.event-item {
  display: block;
  position: relative;
  min-width: 15px;
  min-height: 10px;
  padding: 0 2px 0 4px;
  margin-bottom: 21px;
  background-color: #9C27B0;
  line-height: 1;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  transition: min-width 300ms;

  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    min-width: 200px;
  }

  &.event-item--right:hover,
  &.event-item--right:focus,
  &.event-item--right:active {
    cursor: pointer;
    min-width: 100px;
  }

}

.event-item__data {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #FFF;
}

.event-item__dates {
  position: absolute;
  top: 24px;
  left: 0;
  font-size: 12px;
  color: #000;
}

.event-item__title {
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
}

.event-item__description {
  display: none;
}

.event-item_tooltip {
  display: none;
  position: absolute;
  left: 0;
  min-width: 0;
  z-index: 100;
  overflow: auto;
  text-align: left;
  font-size: 14px;
  color: #333;
  border: 1px solid #e7e7e7;
  background-color: rgba(255,255,255,0.95);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);

  .event-item:hover &,
  .event-item:focus &,
  .event-item:active &{
    display: block;
    cursor: pointer;
    min-width: 200px;
    padding: 6px;
  }

  .event-item--right:hover &,
  .event-item--right:focus &,
  .event-item--right:active & {
    left: -100px;
    width: 200px;
    cursor: pointer;
  }

  h4 {
    margin: 4px 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
  }

  p {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 18px;
  }
}

