<div class="timeline-horizontal__wrapper">
  <ul class="event-list">
    <li *ngFor="let ev of events | async">
      <div class="event-item" [class.event-item--right]="isEventPositionRight(ev.start_date,ev.end_date)"
           id="{{ev.$key}}"
           [ngStyle]="{
              'left': calcEventPosition(ev.start_date),
              'width': calcEventDuration(ev.start_date,ev.end_date)
           }"
      >
        <div class="event-item__data">
          <div class="event-item__dates">
            <span *ngIf="ev.start_date">{{ev.start_date | date: ev.date_display_format}}</span><span *ngIf="ev.end_date">&ndash;{{ev.end_date | date: ev.date_display_format}}</span>
          </div>
          <span class="event-item__title">{{ev.title}}</span>
        </div>
        <div class="event-item_tooltip">
          <span *ngIf="ev.start_date">{{ev.start_date | date: ev.date_display_format}}</span><span *ngIf="ev.end_date">&ndash;{{ev.end_date | date: ev.date_display_format}}</span>
          <h4>{{ev.title}}</h4>
          <p>{{ev.description}}</p>
        </div>
      </div>
    </li>
  </ul>

  <div class="timeline-scale">
    <div class="timeline-scale__legend"></div>
    <div class="timeline-scale__start-date">{{start | date: 'yyyy'}}</div>
    <div class="timeline-scale__end-date">{{end | date: 'yyyy'}}</div>
  </div>
</div>

