
.page-actions {
  margin: 12px 0 24px;
  text-align: right;
}

.timeline-edit-list {
  width: 100%;
  white-space: normal;

  th {
    font-size: 14px;
  }

  td {
    vertical-align: top;
    font-size: 14px;
  }
}
