<h1>Timeline-Manager</h1>

<nav class="page-actions">
  <button class="mdl-button mdl-js-button mdl-button--raised">
    + Neue Timeline
  </button>
</nav>

<table class="timeline-edit-list mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
  <thead>
  <tr>
    <th class="mdl-data-table__cell--non-numeric">Titel</th>
    <th class="mdl-data-table__cell--non-numeric">Beschreibung</th>
    <th>Erstellt</th>
    <th class="mdl-data-table__cell--non-numeric"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let tlu of timelinesForUser | async" >
    <td class="mdl-data-table__cell--non-numeric"><b>{{tlu.title}}</b></td>
    <td class="mdl-data-table__cell--non-numeric">{{tlu.description | trunc:50 }}</td>
    <td>{{tlu.created_date | date:"dd.MM.yyyy"}}</td>
    <td>
      <a class="{{tlu.$key}}"></a>
        <a href=""><i class="material-icons">edit</i></a>
    </td>
  </tr>
  </tbody>
</table>
