<h1>Login</h1>
<p>
  Willkommen zurück! Bitte melden Sie sich an.<br>
  Noch kein Konto? <a [routerLink]="['/signup']">Registrieren Sie sich.</a>
</p>
<div *ngIf="message">{{message}}</div>
<form [formGroup]="loginForm" class="login-mask" autocomplete="off" novalidate>
  <div class="mdl-textfield mdl-js-textfield login-mask__field">
    <input id="userId" formControlName="userId" type="email" class="mdl-textfield__input">
    <label class="mdl-textfield__label" for="userId">E-Mail</label>
  </div>
  <div class="mdl-textfield mdl-js-textfield login-mask__field">
    <input id="passwd" formControlName="passwd" type="password" class="mdl-textfield__input">
    <label class="mdl-textfield__label" for="passwd">Passwort</label>
  </div>
  <button (click)="login()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent login-mask__button">
    Login
  </button>
</form>


