    <h1>Informationen über <i>Timelines</i></h1>

    <h2>Was ist <i>Timelines</i>?</h2>
    <p><i>Timelines</i> ist ein kleines Online-Tool zum Erstellen von Zeitleisten, das als Übungsprojekt
       für den CAS Frontend Engineering 2016 an der Hochschule Rapperswil (HSR) entstanden ist.</p>
    <p>Hinter der Projektidee steht die Beobachtung, dass es viele Arten von Informationen gibt, welche
      in einer zeitlichen Abfolge dargestellt werden könnten (z.B. historische Ereignisse, Biografien etc.),
      dazu aber oft eine einfache Umsetzungsmöglichkeit für die Darstellung im Internet fehlt.
      <i>Timelines</i> dient zur einfachen Darstellung solcher Informationen und deren Einbindung in eigene Online-Projekte für Nutzer
      ohne besondere Vorkenntnisse.
    </p>

    <h2>Wie ist der Stand des Projektes?</h2>
    <p><i>Timelines</i> befindet sich momentan in der Entwicklung und ist nur in einer sehr einfachen
      Ausführung umgesetzt. Ob das Projekt nach dem Kurs weiterverfolgt wird, ist offen.</p>

    <h2>Wie komme ich zu einem Account?</h2>
    <p><i>Timelines</i> ist aktuell nicht für die Öffentlichkeit zugänglich. Bei Interesse an dem Tool melden Sie sich doch per Mailunter timelinesapp_AT_yum.ch</p>

    <h2>Welche Technologien und Materialien wurden verwendet?</h2>
    <p><i>Timelines</i> ist eine Single Page Application, die mit Angular 2 umgesetzt wurde und als Backend Firebase verwendet.</p>
    <p>Für das Design wurden einige Komponenten von Google's Material Design Light verwendet, zudem kommt die Schrift Open Sans via Google Fonts zum Einsatz.</p>
    <p>Das auf der Homepage verwendete Bild stammt von Federico Beccari und ist frei verfügbar unter <a href="https://unsplash.com/photos/ahi73ZN5P0Y" target="_blank">unsplash.com</a></p>
