    <h1>Informationen über <i>Timelines</i></h1>

    <div class="mdl-grid mdl-grid--no-spacing">
      <div class="mdl-cell mdl-cell--9-col">
        <h2>Was ist <i>Timelines</i>?</h2>
        <p><i>Timelines</i> ist ein kleines Online-Tool zum Erstellen von Zeitleisten, das als Übungsprojekt
           für den Kurs CAS Frontend Engineering 2016 an der Hochschule Rapperswil (HSR) entstanden ist.</p>
        <p>Hinter der Projektidee steht die Beobachtung, dass es viele Arten von Informationen gibt, welche
          in einer zeitlichen Abfolge dargestellt werden könnten (z.B. historische Ereignisse, Biografien etc.),
          dazu aber oft eine einfache Umsetzungsmöglichkeit für die Darstellung im Internet fehlt.
          <i>Timelines</i> dient zur einfachen Darstellung solcher Informationen und deren Einbindung in eigene Online-Projekte für Nutzer
          ohne besondere Vorkenntnisse.
        </p>

        <h2>Wie ist der Stand des Projektes?</h2>
        <p><i>Timelines</i> befindet sich momentan in der Entwicklung und ist nur in einer sehr einfachen
          Ausführung umgesetzt. Ob das Projekt nach dem Kurs weiterverfolgt wird, ist offen.</p>

        <h2>Welche Technologien und Materialien wurden verwendet?</h2>
        <p><i>Timelines</i> ist eine Single Page Application, die mit <a href="https://angular.io/" target="_blank">Angular 2</a> umgesetzt wurde und als Backend <a href="https://firebase.google.com/" target="_blank">Firebase</a> verwendet.</p>
        <p>Für das Design wurden einzelne Komponenten und das Grid voon <a href="https://getmdl.io" target="_blank">Google Material Design Light</a> verwendet, zudem kommt die Schrift Open Sans via <a href="https://fonts.google.com/specimen/Open+Sans" target="_blank">Google Fonts</a> zum Einsatz.</p>
        <p>Das auf der Homepage verwendete Bild stammt von Federico Beccari und ist frei verfügbar unter <a href="https://unsplash.com/photos/ahi73ZN5P0Y" target="_blank">unsplash.com</a></p>

        <h2>Wo befindet sich der Sourcecode der Applikation</h2>
        <p>Der Sourcecode ist auf <a href="https://github.com/pxmch/cas-fee-timelines-app" target="_blank">Github</a> verfügbar.</p>
      </div>
    </div>
