    <h1>Informationen über <i>Timelines</i></h1>

    <div class="mdl-grid mdl-grid--no-spacing">
      <div class="mdl-cell mdl-cell--9-col">
        <h2>Was ist <i>Timelines</i>?</h2>
        <p><i>Timelines</i> ist ein kleines Online-Tool zum Erstellen von Zeitleisten, das als Übungsprojekt
           für den Kurs CAS Frontend Engineering 2016 an der Hochschule Rapperswil (HSR) entstanden ist.</p>
        <p>Hinter der Projektidee steht die Beobachtung, dass es viele Arten von Informationen gibt, welche
          in einer zeitlichen Abfolge dargestellt werden könnten (z.B. historische Ereignisse, Biografien etc.),
          dazu aber oft eine einfache Umsetzungsmöglichkeit für die Darstellung im Internet fehlt.
          <i>Timelines</i> dient zur einfachen Darstellung solcher Informationen und deren Einbindung in eigene Online-Projekte für Nutzer
          ohne besondere Vorkenntnisse.
        </p>

        <h2>Wie ist der Stand des Projektes?</h2>
        <p><i>Timelines</i> befindet sich momentan in der Entwicklung und ist nur in einer sehr einfachen
          Ausführung umgesetzt. Ob das Projekt nach dem Kurs weiterverfolgt wird, ist offen.</p>

        <h2>Wie komme ich zu einem Account?</h2>
        <p><i>Timelines</i> ist aktuell nicht für die Öffentlichkeit zugänglich. Bei Interesse an dem Tool melden Sie sich doch per Mail unter timelinesapp_AT_yum.ch</p>

        <h2>Welche Technologien und Materialien wurden verwendet?</h2>
        <p><i>Timelines</i> ist eine Single Page Application, die mit <a href="https://angular.io/" target="_blank">Angular 2</a> umgesetzt wurde und als Backend <a href="https://firebase.google.com/" target="_blank">Firebase</a> verwendet.</p>
        <p>Für das Design wurden einzelne Komponenten und das Grid voon <a href="https://getmdl.io" target="_blank">Google Material Design Light</a> verwendet, zudem kommt die Schrift Open Sans via <a href="https://fonts.google.com/specimen/Open+Sans" target="_blank">Google Fonts</a> zum Einsatz.</p>
        <p>Das auf der Homepage verwendete Bild stammt von Federico Beccari und ist frei verfügbar unter <a href="https://unsplash.com/photos/ahi73ZN5P0Y" target="_blank">unsplash.com</a></p>

        <h2>Antworten auf die Fragen für die Projektpräsentation</h2>

        <h3>Was habe ich besonders gut gelöst?</h3>
        <ul class="bullet-list">
          <li>Einfaches, übersichtliches UI im Backend.</li>
        </ul>

        <h3>Was würde ich anders machen?</h3>
        <ul class="bullet-list">
          <li>Firebase Database Security Rules früher aufsetzen (bzw. die Datenstruktur früher planen), da ich sonst u.U. eine andere Datenstruktur gewählt hätte.</li>
        </ul>

        <h3>Was habe ich gelernt?</h3>
        <ul class="bullet-list">
          <li>Dass ich erst an der Oberfläche von Angular 2 gekratzt habe und noch viel über RxJS und Observables lernen muss.</li>
          <li>Dass es mit Shadow Dom/View Encapsulation recht unübersichtlich werden kann, was wo gestyled wird und wie
            mit komponentenübergreifenden Styles gearbeitet werden soll.</li>
        </ul>
      </div>
    </div>
