<div class="mdl-grid" *ngIf="(timeline | async)?.is_public">
  <div class="mdl-cell mdl-cell--12-col mdl-color--white event-box">
    <div *ngIf="showMetadata" class="timeline__metadata">
      <div class="timeline__title">Timeline «{{ (timeline | async)?.title }}»</div>
      <div class="timeline__description">
        <span [innerHTML]="(timeline | async)?.description | trunc:500 | linky:{
            urls : {
              schemeMatches : true,
              wwwMatches    : true,
              tldMatches    : false
            },
            email       : false,
            phone       : false,
            mention     : false,
            hashtag     : false,
            stripPrefix : false,
            newWindow   : true,
            truncate : {
              length   : 20,
              location : 'end'
            },
            className : ''
          }"></span>
      </div>
      <div class="timeline__publication">Publiziert am {{ (timeline | async)?.created_date | date:"dd.MM.yyyy" }} von xyz</div>
    </div>
    <timeline-style-vertical-basic [events]="events" *ngIf="(timeline | async)?.style_theme ==='Vertikal, einfach'"></timeline-style-vertical-basic>
    <timeline-style-horizontal-basic [events]="events" [timeline]="timeline" *ngIf="(timeline | async)?.style_theme ==='Horizontal, einfach'"></timeline-style-horizontal-basic>
  </div>
</div>
<div class="mdl-grid" *ngIf="!(timeline | async)?.is_public">
  <div class="mdl-cell mdl-cell--12-col timeline__message-private">
    Die angeforderte Timeline ist nicht (mehr) öffentlich erreichbar.
  </div>
</div>
