
.event-box {
  position: relative;
}


.timeline__title {
  display: block;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 600;
}

.timeline__description {
  width: 80%;
  margin-bottom: 4px;
}

.timeline__publication {
    font-size: 12px;
}
