@import "../../../styles/_media-queries.scss";

.timeline-teaser {
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 0.75;
    transition: opacity 300ms ease;
  }

  &:active {
    opacity: 0.5;
  }

  &.mdl-card {
    width: calc(100vw - 32px);
    height: calc(50vw - 32px);
    min-height: 150px;

    @include tablet {
      width: calc( (97vw - 64px) / 3);
      height: calc( (97vw - 64px) / 3);
      min-width: 220px;
      min-height: 220px;
    }

    @include desktop {
      width: calc( (97vw - 120px) / 4);
      height: calc( (97vw - 120px) / 4);
    }
  }

  .mdl-card__actions {
    border-color: rgba(255, 255, 255, 0.2);
  }

  .mdl-card__title {
    align-items: flex-start;
  }

  .mdl-card__title > h2 {
    margin-top: 0;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
  }

  .mdl-card__title,
  .mdl-card__actions,
  .mdl-card__actions > .mdl-button {
    color: #fff;
  }

  .material-icons {
    vertical-align: text-bottom;
  }
}

.color-0 {
  background-color: #3F51B5;
}
.color-1 {
  background-color: #673AB7;
}
.color-2 {
  background-color: #F44336;
}
.color-3 {
  background-color: #E91E63;
}
.color-4 {
  background-color: #9C27B0;
}
.color-5 {
  background-color: #2196F3;
}
.color-6 {
  background-color: #009688;
}
.color-7 {
  background-color: #FF5722;
}
.color-8 {
  background-color: #795548;
}
.color-9 {
  background-color: #EF6C00;
}
