
.form-card {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 32px;
  padding: 16px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  background-color: #FFF;
}

.form-card__action-bar {
  margin: 6px 0 6px;
  text-align: right;
}

.form-card--notification {
  position: fixed;
  top: 0;
  left: 10vw;
  width: 80vw;
  z-index: 1000;
  border: 1px solid #333;
  border-left-width: 6px;
  display: inline-flex;
  vertical-align: middle;
  box-shadow: 0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12),0 5px 5px -3px rgba(0,0,0,.2); //8dp
  box-shadow: 0 16px 24px 2px rgba(0,0,0,.14),0 6px 30px 5px rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2); //16dp
  box-shadow: 0 9px 46px 8px rgba(0,0,0,.14),0 11px 15px -7px rgba(0,0,0,.12),0 24px 38px 3px rgba(0,0,0,.2); //24dp
  span {
    margin-left: 6px;
    line-height: 1.5;
  }
}

.form-card--notification-success {
  border-color: limegreen;
  & > i {
    color: limegreen;
  }
}

.form-card--notification-info {
  border-color: mediumblue;
  & > i {
    color: mediumblue;
  }
}

.form-card--notification-error {
  border-color: red;
  & > i {
    color: red;
  }
}

.form-card__close {
  position: absolute;
  right: 16px;
  color: #666;

  &:hover {
    cursor: pointer;
  }
}

.form_fieldset {
  margin: 0 0 32px 0;
}

.form__field {
  display: block;
  margin: 0 0 24px 0;

  h4,
  label {
    display: block;
    margin: 0 0 6px 0;
    font-size: 14px;
    color: #3756A8;
  }

  input,
  textarea {
    display: block;
    width: 95%;
    margin: 0 0 13px 0;
    padding: 4px 0;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.12);
    font-size: 18px;
    line-height: 20px;
    font-family: "Helvetica","Arial",sans-serif;
    text-align: left;
    color: #333;

    &:focus {
      margin: 0 0 12px 0;
      outline: none;
      border-bottom: 2px solid #3756A8;
    }
  }
}

.form__field--date {
  input {
    width: 150px;
  }
}

.form__field--radio-group {
  input {
    width: auto;
    margin: 0 6px 6px 0;
    display: inline-block;

    &:focus {
      margin: 0 6px 6px 0;
    }
  }

  span {
    display: inline-block;
  }

  label {
    text-transform: none;
    color: #000;
  }


}
