@mixin hyphenate {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

@mixin message-fade-in {
  animation: fadein 300ms;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;

  @keyframes fadein {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }
}
