@import '../../../../styles/media-queries';
@import '../../../../styles/mixins';

.event-list__wrapper {
  position: relative;
}

.event-box__timeline {
  position: absolute;
  left: calc(50% - 2px);
  top: 0;
  bottom: 0;
  border-left: 4px solid #555;

  @include phone {
    left: 0;
  }
}

li {
  width: 100%;

  &:first-child {
    margin-top: 0;
  }

  &:nth-child(odd) {
    padding: 0 50% 0 0;

    .event-list__item {
      margin-right: 24px;
      text-align: right;
    }

    .event-list__item:after {
      content:" ";
      position: absolute;
      left: 100%;
      top: 12px;
      width: 0;
      height: 0;
      border-top: 11px solid transparent;
      border-left: 22px solid red;
      border-bottom: 11px solid transparent;
    }
  }

  &:nth-child(even) {
    padding: 0 0 0 50%;

    .event-list__item {
      margin-left: 24px;
    }

    .event-list__item:before {
      content:" ";
      position: absolute;
      right: 100%;
      top: 12px;
      width: 0;
      height: 0;
      border-top: 11px solid transparent;
      border-right: 22px solid red;
      border-bottom: 11px solid transparent;
    }
  }

  @include phone {

    &:nth-child(n) {
      padding: 0 0 0 0;

      .event-list__item {
        margin: 0 0 24px 24px;
        text-align: left;
      }
    }

    .event-list__item:after {
      display: none;
    }
    .event-list__item:before {
      content:" ";
      position: absolute;
      right: 100%;
      top: 12px;
      width: 0;
      height: 0;
      border-top: 11px solid transparent;
      border-right: 22px solid red;
      border-bottom: 11px solid transparent;
    }
  }
}

.event-list__item {
  position: relative;
  display: block;
  padding: 12px 16px;
  margin: 0;
  border: 1px solid red;

  @media screen and (max-width: 600px) {
    @include hyphenate;
  }
}
