@import "../styles/_media-queries.scss";

.main-header {
  position: relative;
  z-index: 100;
  width: 100%;
  min-width: 320px;
  color: #E7E7E7;
  background-color: #333;
  box-shadow: inset 0px -4px 4px 0px rgba(0,0,0,0.5);
}

.main-header__wrapper.main-header__wrapper {
  padding: 4px 8px;
  margin: 0;

  @include tablet {
    margin: 0 16px 0 24px;
  }

  @include desktop {
    margin: 0 auto;
    padding: 4px 24px 4px 32px;
    max-width: 1024px;
  }
}

.main-header__title,
.main-nav {
  padding: 12px 0;
  font-size: 14px;

  a {
    margin: 0 8px;
    color: #E7E7E7;
    text-decoration: none;

    &:hover,
    &.active {
      color: #FF4081;
    }

    &:active {
      color: #000;
    }
  }

}

.main-header__title {
  margin-left: 0;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 5px;
  text-transform: uppercase;

  a {
    font-weight: 300;
  }
}

.main-nav {
  display: inline-block;
  @include tablet-up {
    text-align: right;
  }
}

.main-content {
  margin: 8px 16px;
  min-width: 320px;

  @include tablet {
    margin: 16px 32px 32px;
    min-height: calc(100vh - 212px);
  }

  @include desktop {
    margin: 16px auto 32px;
    padding: 0 32px;
    max-width: 1024px;
    min-height: calc(100vh - 180px);
  }
}

.main-content--embed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  background-color: #FFF;
  max-width: 100%;
  overflow: auto;
}

.main-footer {
  position: relative;
  z-index: 100;
  min-width: 320px;
  background-color: #333;
  font-size: 14px;
  color: #E7E7E7;
  box-shadow: inset 0px 4px 4px 0px rgba(0,0,0,0.5);

  a {
    color: #E7E7E7;
    text-decoration: none;

    &:hover {
      color: #FF4081;
    }

    &:active,
    &.active {
      color: #FFF;
    }
  }
}

.main-footer__wrapper {
  @extend .main-header__wrapper;
}

.main-footer__logo {
  margin-bottom: 0;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ccc;
}

.main-footer__links {

  margin: 8px 0 0 0;

  li {
    display: inline-block;
    margin-right: 16px;
  }
}

.main-footer__legal {
  @include tablet-up {
    text-align: right;
  }
}
