.content-header {
  position: relative;
  left: 50%;
  right: 50%;
  margin-top: -16px;
  margin-left: -50vw;
  margin-right: -50vw;
  font-weight: 300;
  font-size: 24px;
}

.content-header__image {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 0;
  background: transparent url("../../assets/unsplash_lines_big_low.jpg") no-repeat center 75% / cover;
  background-attachment: fixed;
}

.content-wrapper {
  padding-top: 50vh;
  z-index: 1;

  h2 {
    position: relative;
    z-index: 10;
    color: #FFF;
    text-shadow: 1px 1px 1px #000;
  }
}
