<!-- PAGE HEADING -->
<div class="mdl-grid mdl-grid--no-spacing page-heading">
  <h1 class="mdl-cell mdl-cell--6-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
    Timeline bearbeiten
  </h1>
  <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--8-col-tablet  mdl-cell--4-col-phone heading-actions">
    <a [routerLink]="['/timeline-manager']" class="mdl-button mdl-button--raised mdl-button--colored mdl-js-button timeline-mask__button">
      Zurück zur Übersicht
    </a>
  </div>
</div>

<!-- NOTIFICATION -->
<div *ngIf="notification.type" (click)="(clearNotification())" class="form-card form-card--notification form-card--notification-{{notification.type}}">
  <i class="material-icons">{{notification.icon}}</i> <span>{{notification.text}}</span>
  <div  class="form-card__close"><i class="material-icons">close</i></div>
</div>


<!-- TIMELINE -->
<div class="mdl-grid mdl-grid--no-spacing section-heading">
  <h2 class="mdl-cell mdl-cell--6-col-desktop  mdl-cell--4-col-tablet mdl-cell--4-col-phone">
    Basisdaten
  </h2>
  <div class="mdl-cell mdl-cell--6-col-desktop  mdl-cell--4-col-tablet mdl-cell--4-col-phone heading-actions">
    <button (click)="showTimelineForm()" [disabled]="isTimelineFormVisible" class="mdl-button mdl-js-button mdl-button--raised">
      Basisdaten bearbeiten
    </button>
  </div>
</div>

<!-- TIMELINE DATA -->
<div class="form-card timeline-data mdl-grid" [class.visually-hidden]="isTimelineFormVisible">
  <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
    <h4>Titel der Timeline</h4>
    <p>{{(timeline| async)?.title}}</p>
    <h4>Beschreibung der Timeline</h4>
    <p>{{(timeline| async)?.description}}</p>
  </div>
  <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
    <h4>Darstellung der Timeline</h4>
    <p>{{(timeline| async)?.style_theme}}</p>
    <h4>Sichtbarkeit</h4>
    <p>Die Timeline ist <b *ngIf="!(timeline| async)?.is_public">nicht</b> öffentlich sichtbar</p>
  </div>
</div>

<!-- TIMELINE FORM -->
<div class="form-card" [class.visually-hidden]="!isTimelineFormVisible">
  <timeline-form [prefilledData]="(timeline| async)" #tlForm></timeline-form>
  <div class="form-card__action-bar">
    <a (click)="closeTimelineForm()" class="mdl-button mdl-js-button timeline-mask__button">
      Abbrechen
    </a>
    <button
      [disabled]="!tlForm.getIsValid()"
      (click)="saveTimeline(tlForm)"
      class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent timeline-mask__button"
    >
      Speichern
    </button>
  </div>
</div>

<!-- EVENTS -->
<div class="mdl-grid mdl-grid--no-spacing section-heading">
  <h2 class="mdl-cell mdl-cell--6-col-desktop  mdl-cell--4-col-tablet  mdl-cell--4-col-phone">
    Ereignisse
  </h2>
  <div class="mdl-cell mdl-cell--6-col-desktop  mdl-cell--4-col-tablet  mdl-cell--4-col-phone heading-actions">
    <button (click)="showNewEventForm()" [disabled]="isEventFormVisible" class="mdl-button mdl-js-button mdl-button--raised">
      + Neues Ereignis
    </button>
  </div>
</div>

<!-- EVENTS FORM -->
<div [class.visually-hidden]="!isEventFormVisible" class="form-card">
  <event-form #evtForm [prefilledData]="eventPrefill"></event-form>
  <div class="form-card__action-bar">
    <a (click)="closeEventForm()" class="mdl-button mdl-js-button timeline-mask__button">
      Abbrechen
    </a>
    <button *ngIf="!isEventEditMode"
      [disabled]="!evtForm.getIsValid()"
      (click)="createEvent(evtForm)"
      class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent timeline-mask__button"
    >
      Speichern
    </button>
    <button *ngIf="isEventEditMode"
      [disabled]="!evtForm.getIsValid()"
      (click)="saveEvent(evtForm)"
      class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent timeline-mask__button"
    >
      Speichern
    </button>
  </div>
</div>

<!-- EVENTS DATA TABLE -->
<table class="event-edit-list mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
  <tr>
    <th class="mdl-data-table__cell--non-numeric">Titel</th>
    <th class="mdl-data-table__cell--non-numeric">Beschreibung</th>
    <th>Start</th>
    <th>Ende</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let evt of eventsForTimeline">
    <td class="mdl-data-table__cell--non-numeric"><b>{{evt.title}}</b></td>
    <td class="mdl-data-table__cell--non-numeric">{{evt.description | trunc:50 }}</td>
    <td><span *ngIf="evt.start_date">{{evt.start_date | date:"dd.MM.yyyy"}}</span></td>
    <td><span *ngIf="evt.end_date">{{evt.end_date | date:"dd.MM.yyyy"}}</span></td>
    <td>
      <a (click)="deleteEventByKey(evt.$key, timeline.$key)"><i class="material-icons">delete</i></a>
      <a (click)="startEventEdit(evt.$key)"><i class="material-icons">edit</i></a>
    </td>
  </tr>
  </tbody>
</table>
